@import '../scss/variables';

.wrapper {
    min-height: calc(100vh - 200px);
    flex: 1;
    width: 100%;
    // overflow: auto;
}

aside {
    width: 350px;
    border-right: 1px solid $color;
}

.dashboard-box {
    width:calc(100% - 350px);
}

ul {
    padding: 1.5rem 3rem;
    // font-size: 18px;
}

@media (max-width:1024px){

    aside {
        width: 250px;
        ul {
                padding: 0.5rem 1.5rem;
            }
        }

    .dashboard-box{
        width: calc(100% - 250px)
    }

    .actions{
        flex-direction:column;
    }
}

@media (max-width: 992px) {

    aside {
        width: 100px;

        ul{
            align-items: center;
        }
    }

    .dashboard-box {
        width: calc(100% - 100px)
    }

    table {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .wrapper{
        overflow-x:hidden;
    }

    aside {
        width: 50px;
        ul {
                padding: 0 0.5rem;
            }
    }

    .dashboard-box {
        padding: 15px;
        width: calc(100% - 50px)
    }

    table {
        font-size: 10px;
    }

    ul{
        padding: 0;
    }

}
