* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link {
    text-decoration: none;
    color: black;

    &:hover {
        color: blue;
        text-decoration: underline;
    }
}

// .modal-backdrop {
//     display: none !important;
// }

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}
























//da riga 47 alessandra
